In [1]:
## import dependencies
import json
import pandas as pd
import numpy as np
import re # Import regex Regular Expressions
import time

from sqlalchemy import create_engine
from config import db_password

In [2]:
## create a file path to use going foward
file_dir = 'C://Users/dsmit/RutgersBootCampPC/Class_Work_Dec/Assigments/Movies-ETL/'

In [3]:
# postgreSQL connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [4]:
# open the Wikipedia JSON file
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [5]:
# check how many records were pulled in 
len(wiki_movies_raw)

In [6]:
# First 5 records
wiki_movies_raw[:5]

In [7]:
# Last 5 records
wiki_movies_raw[-5:]

In [8]:
# Some records in the middle
wiki_movies_raw[3600:3605]

In [9]:
#  Pull Kaggle data into Pandas DataFrames
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)

ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [10]:
# check how many records were pulled in 
len(ratings)

In [11]:
ratings.head(5)

In [12]:
ratings.tail(5)

In [13]:
ratings.sample(5)

In [14]:
kaggle_metadata.head(5)

In [15]:
kaggle_metadata.tail(5)

In [16]:
kaggle_metadata.sample(n=5)

In [17]:
# create a DataFrame from our wiki_movies
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [18]:
# preview data
wiki_movies_df.head(5)

In [19]:
# print cloumns (not all Print too long)
print(wiki_movies_df.columns)

In [20]:
# create columns dataframe
wiki_movies_df.columns.tolist()

In [21]:
# Create a "list comprehension" with the filter expression created and saved to an intermediate variable wiki_movies
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]
len(wiki_movies)

In [22]:
# get rid of TV shows
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]

In [23]:
# Example of Local and Global Varaibles on is in the funtion(local and the ohter is outside
x = 'global value'

def foo():
    x = 'local value'
    print(x)

foo()
print(x)

In [24]:
# example of changine a list with a funtion hot recomended
my_list = [1,2,3]
def append_four(x):
    x.append(4)
append_four(my_list)
print(my_list)

In [25]:
# A lambda function that squares a value looks like the following:
square = lambda x: x * x
square(5)

In [26]:
# write a simple function to make a copy of the movie and return it
def clean_movie(movie):
    movie_copy = dict(movie)

In [27]:
def clean_movie(movie):
    movie = dict(movie) 
    #create a non-destructive copy

In [28]:
# To finish our skeleton of the clean_movie function, return the movie variable.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    return movie

In [29]:
# let's see which movies have a value for "Arabic."
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

In [30]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]['url']

In [31]:
# sort alfa and create list of columns
sorted(wiki_movies_df.columns.tolist())

In [32]:
# Make an empty dict to hold all of the alternative titles.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    return movie

In [33]:
# Loop through a list of all alternative title keys.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        return movie

In [34]:
# Check if the current key exists in the movie object.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:

            return movie

In [35]:
# If so, remove the key-value pair and add to the alternative titles dictionary.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)


    return movie

In [36]:
# After looping through every key, add the alternative titles dict to the movie object.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    return movie

In [37]:
# make a list of cleaned movies with a list comprehension:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [38]:
# Set wiki_movies_df to be the DataFrame created from clean_movies, 
# and print out a list of the columns.
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [39]:
# We need to consolidate columns with the same data into one column. 
#  We can use the pop() method to change the name of a dictionary key, 
#  because pop() returns the value from the removed key-value pair. 
#  We have to check if the key exists in a given movie record, 
#  so it will be helpful to make a small function inside clean_movie().
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [40]:
# rerun our list comprehension to clean wiki_movies and recreate 
#  wiki_movies_df.
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [41]:
# The regular expression for a group of characters that start with 
#  "tt" and has seven digits is "(tt\d{7})".
#  "(tt\d{7})" — The parentheses marks say to look for one group of text.
#  "(tt\d{7})" — The "tt" in the string simply says to match two lowercase Ts.
#  "(tt\d{7})" — The "\d" says to match a numerical digit.
# "(tt\d{7})" — The "{7}" says to match the last thing (numerical digits) 
#  exactly seven times.
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')

In [42]:
# drop any duplicates of IMDb IDs
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

In [43]:
# to get the count of null values for each column is to use a list comprehension
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [44]:
# make a list of columns that have less than 90% null values and use those to trim down our dataset.
[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

In [45]:
# the columns that we want to keep, which we can select from our Pandas DataFrame as follows:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [46]:
# display the data type for each column
wiki_movies_df.dtypes

In [47]:
# make a data series that drops missing values with the following:
box_office = wiki_movies_df['Box office'].dropna()

In [48]:
# make a is_not_a_string() function:
def is_not_a_string(x):
    return type(x) != str

In [49]:
# we'll need to make sure all of the box office data is entered as a string. 
# By using the map() method
box_office[box_office.map(is_not_a_string)]

In [136]:
# lambda functions don't have a name (because they don't need one) and automatically return a variable. They use the following syntax:

lambda arguments: expression

In [137]:
# the lambda function version of is_not_a_string() is:

lambda x: type(x) != str

In [50]:
# We can update our map() call to use the lambda function directly 
#  instead of using is_not_a_string():
box_office[box_office.map(lambda x: type(x) != str)]

In [51]:
# use a simple space as our joining character and apply the join()
#  function only when our data points are lists. The code looks like the following:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# regex expressions

# There are other special characters like \d. The full list is:
# \d will match any digit from 0 to 9.
# \D will match any non-digit character.
# \w matches a word character (a letter, digit, or underscore).
# \W matches any non-word character (anything other than a letter, digit, or underscore, such as spaces and punctuation).
# \s will match any whitespace character (including spaces, tabs, and newlines).
# \S will match any non-whitespace characters.
# We can also specify ranges of characters inside a character set. For example:
# "[a-z]" matches any lowercase letter.
# "[A-Z]" matches any uppercase character.
# "[0-9]" matches any digit.
# We can include multiple ranges, so:
# "[a-zA-Z]" matches any lowercase or uppercase letter.
# "[a-zA-Z0-9]" matches any alphanumeric character.
# But, we can also have smaller ranges, such as:
# "[A-E]"would match "A", "B", "C", "D", or "E".
# "[1-3]" would match the digits "1", "2", or "3".
# We can also include character types inside a character set, 
# so "[a-zA-Z\d]" and "[a-zA-Z0-9]" are equivalent expressions 
# that would match any alphanumeric character.
# Inside of a character set, we can specify a character 
# that we do NOT want to include by prefacing it with a caret: ^.
# The period, or dot (.), is a wildcard in regular expressions
# when we want it to act like just a literal character, 
# we need to give it a secret identity. We use the backslash "\" to do this. 
# Special Counting Characters: *, +, {}, ?
# If we want to specify that the character has to show up at least once, we use the plus sign: +.
# If we want to search for a character that shows up an exact number of times, 
# we use the curly brackets: { } you can use a range ex. {3,5}
# to search for a given string or a different string, we use the alternation character, or pipe: |.
# This essentially functions as a logical OR.
# to make sure that our expression matches only at the beginning or ending of the string,
# we use the caret (^) to represent the beginning of the string, 
# and the dollar sign ($) to represent the end of the string.
# Capture Groups: ( )
# Capture groups are how regular expressions define what information should be extracted.
# Non-Capturing Groups and Negative Lookahead Groups: (?: ), (?! )
# We can modify the behavior of a group by including a question mark after the opening parenthesis.
# The first modification is a non-capturing group, which uses a colon after the question mark. 
# This specifies that we only want to use the grouping structure, 
# and we do not need to capture the information.

In [52]:
form_one = r'\$\d+\.?\d*\s*[mb]illion'

In [139]:
box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

In [54]:
form_two = r'\$\d{1,3}(?:,\d{3})+'
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

In [141]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [56]:
box_office[~matches_form_one & ~matches_form_two]

In [57]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illion'
form_two = r'\$\s*\d{1,3}(?:,\d{3})+'

In [58]:
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+'

In [59]:
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [60]:
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [61]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

In [142]:
box_office.str.extract(f'({form_one}|{form_two})')

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [63]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million

        # return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion

        # return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float

        # return value

    # otherwise, return NaN
    else:
        return np.nan

In [64]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [65]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [143]:
wiki_movies_df['box_office']

0             21,400,000.00
1              2,700,000.00
2             57,718,089.00
3              7,331,647.00
4              6,939,946.00
               ...
7071          41,900,000.00
7072          76,100,000.00
7073          38,400,000.00
7074           5,500,000.00
7075                    NaN
Name: box_office, Length: 7033, dtype: float64

In [67]:
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [68]:
budget = wiki_movies_df['Budget'].dropna()

In [69]:
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [70]:
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [71]:
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

In [72]:
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

In [73]:
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [74]:
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [75]:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [76]:
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [77]:
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [78]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [79]:
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [80]:
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [81]:
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [82]:
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [83]:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [84]:
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [85]:
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [86]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [87]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [88]:
kaggle_metadata.dtypes

In [89]:
kaggle_metadata['adult'].value_counts()

In [90]:
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [91]:
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [92]:
kaggle_metadata['video'].value_counts()

In [93]:
kaggle_metadata['video'] == 'True'

In [94]:
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [95]:
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [96]:
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [97]:
ratings.info(null_counts=True)

In [98]:
pd.to_datetime(ratings['timestamp'], unit='s')

In [99]:
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [100]:
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [101]:
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [102]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [103]:
movies_df[['title_wiki','title_kaggle']]

In [104]:
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [105]:
# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [106]:
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [107]:
movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [108]:
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [109]:
movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [110]:
movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [111]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [112]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [113]:
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [114]:
movies_df[movies_df['release_date_wiki'].isnull()]

In [115]:
movies_df['Language'].value_counts()

In [116]:
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [117]:
movies_df['original_language'].value_counts(dropna=False)

In [118]:
movies_df[['Production company(s)','production_companies']]

In [119]:
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [120]:
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [121]:
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [122]:
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [123]:
movies_df['video'].value_counts(dropna=False)

In [124]:
movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [125]:
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [126]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [127]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)

In [128]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [129]:
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [130]:
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [131]:
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [132]:
engine = create_engine(db_string)

In [133]:
movies_df.to_sql(name='movies', con=engine)

In [135]:
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')